:root {
    --pink: #e84393;
}


* {
    margin: 0; padding: 0;
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    outline: none; border: none;
    text-decoration: none;
    text-transform: capitalize;
    transition: .2s linear;
}

html {
    font-size: 70%;
    scroll-behavior: smooth;
    scroll-padding-top: 6rem;     
    overflow-x: hidden;  
}

section {
    padding: 15rem 10%;
}

.heading {
    text-align: center;
    font-size: 4rem;
    color: black;
    padding: 1rem;
    margin: 2rem 0;
    background: rgb(247, 229, 232);
    
}

.heading span {
    color: var(--pink);
}

.btn {
    display: inline-block;
    margin-top: 2rem;
    border-radius: 5rem;
    background: black;
    color: #fff;
    padding: .6rem 2.5rem;
    cursor: pointer;
    font-size: 1.5rem;
}

.btn:hover {
    background:  var(--pink);
}

header {
    position: sticky;
    top:0; left: 0px; right:0;
    background: var(--pink);
    padding: 1.5rem 7%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 1000;
    box-shadow: 0 .5rem 1rem rgba(0,0,0,.1);

}

header .logo {
    font-size: 2rem;
    color: rgb(255, 251, 251);
    font-weight: bolder;
}

header .logo span {
    color: var(--pink);
}

header .navbar a {
    font-size: 1.5rem;
    padding: 0 1.5rem;
    color: rgb(255, 251, 251);
}

header .navbar a:hover {
    color: black;
}

header .icons a {
    color: rgb(245, 245, 245);
    font-size: 1.5rem;
    padding: 0 1rem;
}

header .icons a:hover{
    color: black;
}

.home{
    display: flex;
    align-items: center;
    min-width: 100vh;
    background: url(../Assets/pngtree-simple-pink-background-hand-painted-background-flower-background-picture-image_909044.jpg) no-repeat;
    background-size: cover;
    background-position: center;
}

.home .content {
    max-width: 50rem;
}

.home .content h3 {
    font-size: 3rem;
    color: black;
    line-height: 1.5;
}

.home .content span {
    font-size: 2.5rem;
    color: var(--pink);
    padding: 1rem 0;
    line-height: 1.5;
}
.home .content p {
    font-size: 1.5rem;
    color: black;
    padding: 1rem 0;
    line-height: 1.5;
}

.about .row {
    display: flex;
    align-items: center;
    gap: 2rem;
    flex-wrap: wrap;
    padding: 2rem 0;
    padding-bottom: 3rem;
}

.about .row .video-container video {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.about .row .video-container h1 {
    position: absolute;
    top: 50%; transform: translateY(-50%);
    font-size: 3rem;
    background: #fff;
    width: 100%;
    padding: 1rem 2rem;
}

.about .row .content {
    flex: 1 1 40rem;
    margin-top: 5px;
}

.about .row .content h1{
    font-size: 3rem;
    color: black;
}

.about .row .content p{
    font-size: 1.5rem;
    color: black;
    padding: 5rem 0;
    padding-top: 1rem;
    line-height: 1.5;
}

.icons-container {
    background: #eee;
    display: flex;
    flex-wrap: wrap;
    gap:2rem;
    padding-top: 5rem;
    padding-bottom: 5rem;
}

.icons-container .icons {
    background: #fff;
    border: .1rem solid black;
    padding: 2rem;
    display: flex;
    align-items: center;
    flex: 1 1 25rem;
}

.icons-container .icons img {
    height: 5rem;
    margin-right: 2rem;
}

.products .box-container {
    display: flex;
    flex-wrap: wrap;
    gap: 1.5rem;
    padding-left: 15%;
    text-align: center;
}

.products .box-container .box {
    /* flex: 1 1 30rem; */
    border-radius: 0.5rem;
    border: 0.3rem solid var(--pink);
    position: relative;
}

.products .box-container .box .image  .icons a {
    height: 1rem;
    list-style: 1rem;
    font-size: 1rem;
    width: 0%;
    background: var(--pink);
    color: #fff;
}

footer {
    display: flex;
  }
  
  .footerLeft {
    flex: 2;
    display: flex;
    justify-content: space-between;
    padding: 50px;
  }
  
  .fMenuTitle {
    font-size: 16px;
  }
  
  .fList {
    padding: 0;
    list-style: none;
  }
  
  .fListItem {
    margin-bottom: 10px;
    color: gray;
    cursor: pointer;
  }
  
  .footerRight {
    flex: 1;
    padding: 50px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  
  .fInput {
    padding: 5px;
  }
  
  .fButton {
    padding: 5px;
    background-color: black;
    color: white;
  }
  
  .fIcons{
    display: flex;
  }
  
  .fIcon{
    width: 20px;
    height: 20px;
    margin-right: 10px;
  }
  
  .copyright{
    font-weight: 300;
    font-size: 14px;
  }
  